@use  './variables';
@use './images';


.quan {
    position: relative;
    top: -10%;
    padding: 0px 12.5px;
    margin-left: 4.6rem;
    border: 2px solid black;
    box-sizing: border-box;
}

.view {
    display: grid;
    grid-template-columns: 125px 125px 125px 125px;
    grid-template-rows: 125px;
    grid-column-gap: 12.5px;
    padding: 0.5rem 0 0.5rem 0.5rem;
}

.shirt .details, h3 {
    font-family: FuturaHeavy, sans-serif;
}

.details h2 {
    text-transform: uppercase;
}

.details i {
    color: variables.$headercolor;
    font-size: x-large;
    padding: 10px;
}

.details h2 span {
    color: red;
    text-decoration: line-through;
    font-size: large;
    margin-top: -3;
}