@use  './variables';
@use './images';

.quan {
    position: relative;
    top: -11%;
    padding: 10px 12.5px;
    margin-left: 6.5rem;
    border-radius: 12.5px;
    box-sizing: border-box;
}

.view {
    display: grid;
    grid-template-columns: 125px 125px 125px 125px;
    grid-template-rows: 125px;
    grid-column-gap: 12.5px;
    padding: 0.5rem 0 0.5rem 0.5rem;
}

.shirt .details, h3 {
    font-family: FuturaHeavy, sans-serif;
}

.details h2 {
    text-transform: uppercase;
}

.details i {
    color: variables.$headercolor;
    font-size: x-large;
    padding: 10px;
}

.details h2 span {
    color: red;
    text-decoration: line-through;
    font-size: large;
    margin-top: -3px;
    position: absolute;
    padding-left: 5px;
}

.rate p {
    font-size: 22.5px;
}

.desc p {
    font-family: variables.$lightext;
    font-size: 22.5px;

}

.shirt .btn-option {
    border: 1px solid black;
    border-radius: 50%;
    font-size: 25px;
    width: 70px;
    height: 70px;
    margin-left: 5px;
}

.shirt .btn-option.on {
    background-color: variables.$headercolor;
    color: variables.$textcolor;
    border: none;
}

